:root{
    --pri-color:#151953;
    --sec-color:#384996;
    --ter-color:#010124;
    --font-color:rgb(255, 255, 255);
}
.dark-mode:root{
    --pri-color: #0f3a33;
    --sec-color:#0a245a;
    --ter-color:#3c1546;
    --font-color:rgb(219, 219, 219);
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    touch-action:manipulation;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: rgba(188, 214, 146, 1);
    cursor:auto;
}

  /* MAIN */
#inicio {
    background: linear-gradient(rgba(105, 183, 247, 0.7),rgba(188, 214, 146, 1)),url("img/back.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
#inicio .contenido header .contenido-header h1 a{
    text-decoration: none;
    color: #fff;
    font-size: .6em;
    margin-left: 50px;
}
#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    margin: 0 12px;
    font-weight: 400;
    transition: 1s;
    font-size: 1.5em;
}
#inicio .contenido header .contenido-header nav ul a:hover{
    color: var(--pri-color);
}
#inicio .contenido header .contenido-header .redes{
    margin-right: 50px;
}
#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: var(--font-color);
    display: inline-block;
    margin-left: 10px;
    transition: 1s;
    font-size: 1.5em;
}
#inicio .contenido header .contenido-header .redes a:hover {
    color: var(--pri-color);
}
#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion .box {
    padding: 80px;
    border-radius: 20px;
    background: rgba(74, 0, 248, 0.2);
    margin: 20px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--font-color);
}
#inicio .contenido .presentacion .bienvenida {
    font-size: 2vh;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px; 
}
#inicio .contenido .presentacion h2 {
    font-size: 6vh;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .contenido .presentacion h2 span {
    font-size: 4vh;
    color: var(--pri-color);
}
#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 2vh;
    text-align: center;
}
#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid var(--font-color);
    border-radius: 50px;
    color: var(--font-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover {
    background-color: var(--pri-color);
}
#icono-nav{
    color: var(--font-color);
    display: none;
}

/* Projects */
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
    background-color: rgba(188, 214, 146, 1);
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* CONTACT */

#contacto {
    padding: 100px 15px;
    background: linear-gradient(#BCD692,#b6ffff)
}
#contacto .titulo-seccion {
    margin-bottom: 20px;
}
#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
    width: 48%;
}
#contacto .contenedor-form .input-full {
    width: 100%;
}
#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}
#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

/* GAME */
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#introduction {
    width: 300px;
    height: 120px;
    position: absolute;
    font-weight: 700;
    font-size: 1.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: opacity 2s;
}

#restart {
    width: 200px;
    height: 200px;
    left: 20px;
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    border-radius: 50%;
    color: white;
    border: 2px solid var(--font-color);
    background-color: rgba(17, 75, 19, .5 );
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    cursor: pointer;
}

#perfect {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    font-weight: 700;
    font-size: 1.5em;
    transition: opacity 2s;
    justify-items: center;
}
#action {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20px;
    color:#000;
    font-weight: 700;
    font-size: 1.5em;
    border: 2px solid var(--font-color);
    background-color: rgba(17, 75, 19, .5 );
    border-radius: 50%;
}
#placar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    right: 20px;
    color:#000;
    font-weight: bold;
    border: 2px solid var(--font-color);
    background-color: rgba(17, 75, 19, .5 );
    font-size: 1.5em;
    margin-bottom: 350px;
}
#hiscore{
    text-decoration: none;
    list-style:decimal;
}
#hiscore_h{
    text-decoration: none;
    list-style:none;
    align-items: left;
}
#saveplacar{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    position: absolute;
    font-weight: 800;
    font-size: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: opacity 2s;
    color:#fff;
    border: 2px solid var(--font-color);
    background-color: rgba(17, 75, 19, .5 );
}
#saveBtn{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 100%;
    font-weight: 700;
    font-size: 1.5em;
    align-items: center;
}
#nameSave{
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 5px;
}
#titulo{
    position: absolute;
    margin-bottom: 900px;
    font-size: 2em;
}


/* FOOTER */
footer {
    background: linear-gradient(rgb(115, 184, 32),rgb(48, 54, 37));
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: -20px;
}
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0px;
    font-size: 26px;
}



/* RESPONSIVE */

@media only screen and (max-width: 1000px) {

    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
        margin-right: 50px;
        font-size: 1.5em;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        max-width: 750px;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    #titulo{
        position: absolute;
        margin-bottom: 900px;
        font-size: 2em;
    }
}

